.header {
	width: 100%;
	text-align: center;
	font-size: 100px;
	line-height: 100px;
	text-decoration: none;
	font-family: inconsolata;
	margin: 35px 0;
	display: block;
	box-sizing: content-box;
}

.win .header {
	font-family: monospace;
}

.header, .header:active, .header:hover {
	color: #2C3E50;
}
