.record_h, .record_rank, .record_nick, .record_time {
	font-size: 30px;
	font-family: inconsolata;
	display: inline-block;
	color: #2C3E50;
	margin: 0 0 30px 0;
}

.win .record_h, .win .record_rank, .win .record_nick, .win .record_time {
	font-family: monospace;
}


.record_rank, .record_nick, .record_time {
	text-align: right;
}
.record_rank {
	clear: left;
	width: 50px;
}

.record_nick {
	width: 250px;
}

.record_time {
	width: 250px;
}

.record_h {
	font-size: 60px;
}
.record_con {
	margin-left: 50px;
}
